# example workflow for Polaris scans using the Black Duck Security Scan Action
# https://github.com/marketplace/actions/black-duck-security-scan
name: Black Duck Security Scan
on:
  push:
    branches: [ main, master, develop, stage, release ]
  pull_request:
    branches: [ main, master, develop, stage, release ]
  workflow_dispatch:
jobs:
  Polaris Security Scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v4
    - name: Setup Java JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin
        cache: maven
    - name: Polaris Scan
      uses: blackduck-inc/black-duck-security-scan@v2
      with:
        polaris_server_url: ${{ secrets.POLARIS_URL }}
        polaris_access_token: ${{ secrets.POLARISPOC_ACCESS_TOKEN }}
        polaris_assessment_types: 'SAST,SCA'
        polaris_application_name: 'susantoblackduck-CICD'
        polaris_project_name: 'bd-integrations-lab1|GitHub Actions'
        polaris_prComment_enabled: 'true'
        #polaris_reports_sarif_create: 'true'
        #polaris_upload_sarif_report: 'true'
        github_token: ${{ secrets.POLARIS_GITHUB_TOKEN }}
        # include_diagnostics: true
#    - name: Save Logs
#      if: always()
#      uses: actions/upload-artifact@v4
#      with:
#        name: bridge-logs
#        path: ${{ github.workspace }}/.bridge
#        include-hidden-files: true
